<template id="contact-template">
  <li data-id = "{{id}}">
    <strong>Name:</strong> 
    <span class="noedit firstname lastname"> {{firstname}} {{lastname}}</span>
    <input class="edit firstname lastname"/>
    <strong>Email:</strong> 
    <span class="noedit email">{{email}}</span>
    <input class="edit email"/>
    <button contact-id = '{{id}}' class='remove'>X</button>
    <button class="editContact noedit">Edit</button>
    <button class="saveEdit edit">Save</button>
    <button class="cancelEdit edit">Cancel</button>
  </li>
</template>

<h3>List of all the Contacts in our Database</h3>
<ul id="contacts">
</ul>

<h4>Add or remove a contact</h4>
<p>First Name: <input type="text" id="firstname"></p>
<p>Last Name: <input type="text" id="lastname"></p>
<p>Email: <input type="text" id="email"></p>
<button id="add-contact">Add a Contact</button>
